function Cactus.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 25
pop this 2
push constant 40
pop this 3
push pointer 0
return
function Cactus.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 10
add
push this 1
push this 0
push constant 15
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 0
lt
push constant 10
add
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
push constant 15
add
push this 0
push constant 10
add
push this 1
push constant 20
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push this 0
push this 0
lt
push constant 5
add
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 1
push constant 5
add
push this 0
push constant 5
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
push this 0
push constant 15
add
push this 0
lt
push this 2
add
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push constant 15
add
push this 1
push constant 10
add
push this 0
push this 2
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE2
push this 0
push constant 20
add
push this 0
lt
push constant 25
add
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
push constant 20
add
push this 1
push constant 15
add
push this 0
push constant 25
add
push this 1
push constant 25
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE3
push constant 0
return
function Cactus.getX 0
push argument 0
pop pointer 0
push this 0
return
function Cactus.getY 0
push argument 0
pop pointer 0
push this 1
return
function Cactus.getWidth 0
push argument 0
pop pointer 0
push this 2
return
function Cactus.getHeight 0
push argument 0
pop pointer 0
push this 3
return
function Cactus.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
